*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
/**navigation bar**/
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 50px;
    width: 110px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    width: 840px;
    height: 40px;
    background-color: pink;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
}
.search-opt{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search-icon{
    color: #0f1111;
    width:45px;
    background-color: rgb(215, 188, 64);
    display: flex;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon:hover{
    background-color: orange;
}
.search-icon i{
    font-size: 1.2rem;
    align-self: center;
}
.nav-search:hover{
    border: 2px solid orange;
}
.signin-first{
    font-size: 0.65rem;
    font-weight: bold;
}
.signin-sec{
    font-size: 0.90rem;
    font-weight: bold;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart i{
    font-size: 2rem;
}
.panel{
    height: 40px;
    display: flex;
    background-color: #29303b;
    color: white;
    justify-content: center;
    align-items: center;
}
.panel-menu{
    display: flex;
    align-items: center;
    font-weight: 700;
}
.panelops{
    display: flex;
    width: 90%;
    font-size: 0.90rem;
    margin-left: 20px;
}
.panelops p{
    margin-left: 25px;
}
/** Hero Section **/
.hero-section{
    background-image: url(herosection.jpg);
    background-size: cover;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heroele{
    height: 40px;
    width: 90%;
    background-color: white;
    color: black;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroele a{
    text-decoration: none;
    color: rgb(68, 120, 121);
}
.heroele a:hover{
    text-decoration: underline;
    color: red;
}

/** shop section**/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 360px;
    width: 23%;
    margin-top: 20px;
    background-color: white;
}
.box1p1{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
.imgsize{
    width: 185px;
    height: 105px;
}
.fonts{
    font-size: 0.85rem;
    color: #0f1111;
    font-weight: 600;
}
.marg{
    margin-left: 35px;
}
.marg1{
    margin-left: 100px;
}
.see{
    font-size: 0.85rem;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: rgb(68, 120, 121);
}
a:hover{
    color: red;
}
.box3i{
    background-image: url(box3.jpg);
    width: 300px;
    height: 280px;
    margin-left: 30px;
}
.footpanel{
    background-color: #334156;
    height: 50px;
    font-size: 0.85rem;
    color: white;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footpanel2{
    height: 350px;
    background-color: #29303b;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
}
ul a{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.743);
    display: block;
    margin-top: 20px;
}
ul{
    margin-top: 15px;
}
